node_modules
.env

Custom Query App V 0.10/node_modules
Custom Query App V 0.10/client/node_modules
Custom Query App V 0.10/client/.env
Custom Query App V 0.10/server/node_modules
Custom Query App V 0.10/server/.env