node_modules
.env

Custom Query App/node_modules
Custom Query App/client/node_modules
Custom Query App/client/.env
Custom Query App/server/node_modules
Custom Query App/server/.env
Custom Query App/log_1756402472.txt

